{% extends 'base.html' %}
{% load static %}
{% block content %}

<section style="padding: 12px;">
    <h1>Explore</h1>
    <form method="GET">
        <input type='text' name="name" placeholder="Search...">
        <button type='submit' class="search-button" style="cursor: pointer;">
            <h4>Search</h4>
        </button>
    </form>
</section>

<h2>Artists</h2>
{% for artist in results.artists.items|slice:"0:3" %}
    <div class="artist">
        <img style="width: 150px; height: 150px; border-radius: 50%;" src="{{ artist.images.0.url }}" alt="">
        <p>{{ artist.name }}</p>
    </div>
{% endfor %}
<h2>Tracks</h2>
{% for track in results.tracks.items|slice:"0:3" %}
    <div class="tracks">
        <div>
            <img style="width: 150px; height: 150px; border-radius: 50%;" src="{{ track.album.images.0.url }}" alt="">
        </div>
        <div>
            <p>{{ track.name }}</p>
        </div>
    </div>
{% endfor %}
<h2>Albums</h2>
{% for album in results.albums.items|slice:"0:5" %}
    <div class="albums">
        <img style="width: 150px; height: 150px; border-radius: 10px;" src="{{ album.images.0.url }}" alt="">
        <p>{{ album.name }}</p>
    </div>
{% endfor %}




{% endblock %}